<!-- ABOUT -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>protfolio</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css"
        integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="backgrund text-bg-dark bg-opacity-75 ">
    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark w-100 bg-opacity-100 position">
        <div class="container-fluid w-100 d-flex justify-content-between">
            <div class="navbar-brand d-flex align-items-baseline gap-1  ">
                <h3 class="text-danger  "><b>My</b></h3>
                <h4 class="text-light">protfolio</h4>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarNav">

                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="http://localhost:8000"><b>Home </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/about"><b>About</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/Skills"><b>Skills</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="http://localhost:8000/service"><b>Services</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="http://localhost:8000/Contact"><b>Contact</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <section class="contact py-5  " id="Contact"><br>
        <div class="container-lg py-4">
            <div class="row justify-content-center">
                <div class="col-lg-8 ">
                    <div class="section-title text-center ">
                        <h2 class="fw-bold mb-5"><span class="text-danger">C</span>ontact Me</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-danger">
                            <i class="fas fa-envelope"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Email</h3>
                            <p class="text-muted ">hetvirani69@gmail.com</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-danger">
                            <i class="fas fa-phone"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Phone</h3>
                            <p class="text-muted ">+91 9328188644</p>
                        </div>
                    </div>
                    <div class="contact-item d-flex mb-3">
                        <div class="icon fs-4 text-danger">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <div class="text ms-3">
                            <h3 class="fs-5">Visit Office</h3>
                            <p class="text-muted ">B-201, Ganesh Shopan, New Ranip-382480</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="contect-form">
                        <form>
                            <div class="row">
                                <div class="col-lg-6 mb-4">
                                    <input type="text" placeholder="Your Name"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm">
                                </div>
                                <div class="col-lg-6 mb-4">
                                    <input type="text" placeholder="Your Email"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <input type="text" placeholder="Subject"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 mb-4">
                                    <textarea placeholder="Your Message" rows="5"
                                        class="form-control form-control-lg fs-6 border-0 shadow-sm"></textarea>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <button type="submit" class="btn btn-danger px-3">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer class="footer w-100 bg-light bg-opacity-10 d-flex flex-column align-items-center justify-content-center f">
        <div class="container  w-100 ">
            <div class="column d-flex row  gap-2 justify-content-around mx-auto px-5">
                

                <div class="col-xl-3 col-lg-3  col-md-3 col-12">
                    <h3> Useful Links</h3>
                    <ul class="ul">
                        <li> Home</li>
                        <li>About us</li>
                        <li>Services</li>
                        <li> Terms of service</li>
                        <li> Privacy policy</li>
                    </ul>
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-12 ">
                    <h3>Our Services</h3>
                    <ul class="ul">
                        <li> Web Design</li>
                        <li> Product Management</li>
                        <li> Marketing</li>
                        <li>Graphic Design</li>
                    </ul>
                </div>

                <div class="col-xl-3 col-lg-3  col-md-3 col-12">
                    <h3>Our Social Networks</h3>
                    <ul class="ul">
                        <li>Cras fermentum odio eu feugiat lide par naso</li>
                        <li>tierra videa magna derita valies</li>
                        <br>

                        <i class="fa-brands fa-facebook fs-3"></i>&nbsp;&nbsp;
                        <i class="fa-brands fa-twitter fs-3"></i>&nbsp;&nbsp;
                        <i class="fa-brands fa-instagram fs-3"></i>&nbsp;&nbsp;
                        <i class="fa-brands fa-linkedin fs-3"></i>&nbsp;&nbsp;
                    </ul>
                </div>

            </div>
        </div>

        <p class="text-center mt-2 md-2">copyright@2023 all righrts reserved | this made by virani het</p>
    </footer>
</body>

</html>