<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>protfolio </title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/fontawesome.min.css"
        integrity="sha512-siarrzI1u3pCqFG2LEzi87McrBmq6Tp7juVsdmGY1Dr8Saw+ZBAzDzrGwX3vgxX1NkioYNCFOVC0GpDPss10zQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body class="backgrund text-bg-dark bg-opacity-75 ">

    <nav class="navbar navbar-expand-lg navbar-dark  bg-dark w-100 bg-opacity-100 position">
        <div class="container-fluid w-100 d-flex justify-content-between">
            <div class="navbar-brand d-flex align-items-baseline gap-1  ">
                <h3 class="text-danger  "><b>My</b></h3>
                <h4 class="text-light">protfolio</h4>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse justify-content-end " id="navbarNav">

                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:8000"><b>Home </b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/about"><b>About</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://localhost:8000/Skills"><b>Skills</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="http://localhost:8000/service"><b>Services</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="http://localhost:8000/Contact"><b>Contact</b></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="main-div w-100">
        <section class=" d-flex justify-content-center flex-wrap align-items-center s-1  ">
            <div class="d-flex col-lg-5 col-sm-12 flex-column align-items-center">
                <h4>hello i'm </h4>
                <H2>web developer</H2>
                <h3>het virani</h3>
            </div>
            <div class=" d-flex col-lg-5 col-sm-12 justify-content-center">
                <img class="img-fluid shadow-lg p-3 mb-5 shadow-success bg-body-tertiary rounded "
                    src="./img/portfolio-management-businessman-hologram-concept-futuristic-portfolio-management-businessman-hologram-concept-177205308.webp"
                    width="500px">
            </div>
        </section>
    </div>

</body>